<div class="content">
  <div class="page-header">
    <h2><%=h @source.name %> <small><%= @source.active ? "" : "inactive" %></small></h2>
  </div>

<h4>Name</h4>
<%=h @source.class.to_s %>
  
<% if @source.uses_url %>
  <h4>URL</h4>
  <%=h @source.url %>
<% end %>

<% if @source.uses_username %>
  <h4>Username</h4>
  <%=h @source.username %>
<% end %>

<% if @source.uses_search_url %>
  <h4>Search URL</h4>
  <%=h @source.searchURL %>
<% end %>

<% if @source.uses_partner_id %>
  <h4>Partner ID</h4>
  <%=h @source.partner_id %>
<% end %>

<% if @source.uses_password %>
  <h4>Password:</b>
  '<%= ("●" * @source.password.to_s.size) %>'
<% end %>

<% if @source.uses_salt %>
<p>
  <b>Public URL salt:</b>
  '<%= ("●" * @source.salt.to_s.size) %>'
</p>
<% end %>

<% if @source.uses_live_mode %>
<p>
  <b>Live mode?</b>
  <%= @source.live_mode == true ? "yes" : "no" %>
</p>
<% end %>

<h4>Timeout:</h4>
<%=h @source.timeout %>

<% if @source.category %>
  <h4>Category</h4>
  <%=h @source.category.name %>
<% end %>
  
<h4>Staleness</h4>
<%=h @source.staleness_days %>

<h4>Disabled Until</h4>
  <% if @source.disable_until %>
    <%= h @source.disable_until %>
  <% else %>
    (not disabled)
  <% end %>

<h4>Disabled Delay (seconds)</h4>
<%= h @source.disable_delay %>

<% if @source.uses_misc %>
  <p>
    <b>Miscellaneous Information:</b>
    <%= h @source.misc %>
  </p>
<% end %>  

<h3>Most-cited works</h3>
<% if @samples.empty? %>
<div>No works have been cited by this source</div>
<% else %>
<ul>
  <% @samples.each do |retrieval| %>
    <% unless retrieval.work.blank? %>
      <li><%= link_to retrieval.work.doi, work_path(retrieval.work.id) %>:
      <%= retrieval.total_citations_count %></li>
    <% end %>
  <% end %>
</ul>
<% end %>
</div>