<p id="notice"><%= notice %></p>

<p>
  <b>Article:</b>
  <%= @comment.article_id %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Original:</b>
  <%= @comment.original_id %>
</p>

<p>
  <b>Comment type:</b>
  <%= @comment.comment_type %>
</p>

<p>
  <b>Author:</b>
  <%= @comment.author %>
</p>

<p>
  <b>Url:</b>
  <%= @comment.url %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
