<%#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2010 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>
<% unless @articles.empty? %>
	<table class="index">
		<th class="name"><%= pluralize(@articles.total_entries, 'Article') + ((author_signed_in? and params[:q].blank?) ? ' by Authors you are Following' : "") %></th>
		<% active_categories.each do |category| %>
	    <% category.sources.active.each do |source| %>
	      <th class="count">
			    <%= image_tag source.class.to_s.downcase + "_sm.gif", :title => source.category.article_description + ": " + source.name %>
		    </th>
		  <% end %>
    <% end %>
    <% @articles.each do |article| %>
      <tr>
      	<td class="name">	
      	  <span itemprop="name" class="name"><%= link_to article.title, article_path(article.short_doi) %></span><br/>
          <span class="content_type"><%= article.content_type.sub!(/_/, ' ').capitalize %>. </span>
          <span class="journal">
            <% unless article.journal.blank? %>
	            <%= link_to article.journal.title, journal_path(article.journal.issn_electronic) %>.
	          <% end %>
						<% unless article.book.blank? %>
	            <%= article.book.title %>.
	          <% end %>
	        </span> <%= article.formatted_citation %><br/><%= link_to "http://doi.org/" + article.short_doi, "http://doi.org/" + article.short_doi, :itemprop => "url" %>
			<% unless article.authors.empty? %>
			  <% if article.authors.count > 0 %>
	        <% article.authors.each do |author| %>
          	<br/><%= link_to author.display_name, author_path(author.username) %>
         <% end %>
       <% end %>
     <% end %>
      	</td>
	      	<% article.citations_by_category.each do |citations| %>  
            <% citations[:sources].each do |citation| %>
    	        <td class="count">
							  <% if citation and citation[:total] > 0 %>
                 <% if citation[:public_url] %>
                   <%= link_to h(citation[:total]), citation[:public_url]  %>
                 <% else %>
                   <%= h(citation[:total]) %>
                 <% end %>
               <% end %>
				    </td>
         <% end %>
   	  <% end %>
	  </tr>
    <% end %>
    <tr>
	    <td class="pagination">
		    <div class="pagination">
			    <%= will_paginate @articles %>
			  </div>
		  </td>
		  <td class="count"></td>
		</tr>
	</table>
    </div>
  <% else %>
    <h2>No articles found</h2>
  <% end %>