<%#
  # $HeadURL$
  # $Id$
  #
  # Copyright (c) 2009-2010 by Public Library of Science, a non-profit corporation
  # http://www.plos.org/
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>
	<div itemscope itemtype="http://schema.org/ScholarlyArticle">
    <h2><span itemprop="name"><%= @article.title %></span></h2>
		 	<span class="journal">
       <% unless @article.journal.blank? %>
         <%= link_to @article.journal.title, journal_path(@article.journal) %>.
       <% end %>
				<% unless @article.book.blank? %>
         <%= @article.book.title %>.
       <% end %>
     </span> <%= @article.year %><%= @article.volume ? ":#{@article.volume}" : "" %> <%= @article.issue ? "(#{@article.issue})" : "" %><%= @article.first_page ? ";#{@article.first_page}" : "" %><%= @article.last_page and @article.last_page > @article.first_page ? "-#{@article.last_page}": "" %><br/><%= link_to "http://doi.org/" + @article.short_doi, "http://doi.org/" + @article.short_doi, :itemprop => "url" %><p>
			<% unless @article.authors.empty? %>
			  <% if @article.authors.count > 0 %>
		      <% @article.authors.each do |author| %>
		      	<%= link_to h(author.display_name), author_path(author.username) %>
		     <% end %>
		   <% end %>
		  <% end %>
		<p>
	</div>

	<div id="source">
    <%= render :partial => 'source'%>
  </div>

  <% if current_author.try(:admin?) %>
    <p>
    Refresh: <%= link_to 'now', article_path(@article.id, :refresh => "now") %> |
    <%= link_to 'soon', article_path(@article.id, :refresh => "soon") %><br/>
    <%= link_to 'Edit', edit_article_path(@article.id) %> |
    <%= link_to 'Delete', article_path(@article.id), :confirm => 'Are you sure?', :method => :delete %>
    <br/>
  <% end %>