<div data-role="header">
	<%= link_to 'Authors', authors_path, "data-role" => "button", "data-icon" => "home", "data-transition" => "reverse slide" %>
	<h1>Articles</h1>
	<%= link_to 'About', about_path, "data-role" => "button", "data-icon" => "info" %>
</div>

<div data-role="content">
	<%= form_tag articles_path, :method => :get, :remote => false, :class => "ui-listview-filter ui-bar-c", "data-ajax" => "true", "data-transition" => "none", :role => "search" do %>
    <input name="q" value="<%= params[:q] %>" placeholder="Filter articles..." data-type="search" class="ui-input-text ui-body-c"/>
  <% end %>
	<ul data-role="listview" data-theme="c">
    <% @articles.each do |article| %>
	    <li><a href="<%= article_path(article.short_doi) %>" class="normal">
        <h3><%= article.title %></h3>
        <%= formatted_citation(article, :without_links => true).html_safe %>
        </a>
      </li>
    <% end %>
  </ul>
</div>