<div data-role="header">
	<a href="#" data-icon="arrow-l" data-rel="back">Back</a>
	<h1><%= @article.short_doi %></h1>
</div>

<div data-role="content">
	<ul data-role="listview" data-theme="c" class="show">
	  <li><a href="<%= "http://doi.org/#{@article.short_doi}" %>" class="normal">
	    <h3><%= @article.title %></h3>
	    <%= formatted_citation(@article, :without_links => true) %>
	    </a>
	  </li>
	</ul>
	
	<%= render :partial => 'source' %>
</div>