<div class="content">
<% unless @works.empty? %>
	<table class="zebra-striped">
		<thead>
		<th><h2><%= pluralize(@works.total_entries, 'Work') + ((author_signed_in? and params[:q].blank?) ? ' by Authors you are Following' : "") %></h2></th>
		<% active_categories.each do |category| %>
	    <% category.sources.active.each do |source| %>
	      <th class="count">
			    <%= image_tag source.class.to_s.downcase + "_sm.gif", :title => source.category.work_description + ": " + source.name %>
		    </th>
		  <% end %>
    <% end %>
    </thead>
    <tbody>
    <% @works.each do |work| %>
      <tr>
      	<td>	
      	  <span itemprop="name" class="name"><%= link_to work.title, work_path(work.id) %></span><br/>
          <%= formatted_citation(work).html_safe %>
          <% if work.content_type != "journal_work" %>
            <i><%= work.content_type.sub!(/_/, ' ') ? work.content_type.capitalize : work.content_type.capitalize %></i>
          <% end %>
          <br/><%= link_to "http://doi.org/" + work.short_doi, "http://doi.org/" + work.short_doi, :itemprop => "url" %>
      	</td>
	      	<% work.citations_by_category.each do |citations| %>  
            <% citations[:sources].each do |citation| %>
    	        <td>
							  <% if citation and citation[:total] > 0 %>
                 <% if citation[:public_url] %>
                   <%= link_to h(citation[:total]), citation[:public_url]  %>
                 <% else %>
                   <%= h(citation[:total]) %>
                 <% end %>
               <% end %>
				    </td>
         <% end %>
   	  <% end %>
	  </tr>
    <% end %>
    </tbody>
    </table>
    <%= will_paginate @works %>
  <% else %>
    <h2>No works found</h2>
  <% end %>