<div class="content">
	<div class="page-header">
    <h2><h2><%= "Works" + (user_signed_in? ? ' by Users you are Following' : "") %></h2></h2>
  </div>
	
  <% unless @works.empty? %>
		<% @works.each do |work| %>
			<div class="row">
				<% unless work.users.empty? %>
				  <div class="span1">
				  	<% work.users.each do |user| %>
						  <%= image_tag "http://api.twitter.com/1/users/profile_image/#{user.username}", :class => "photo_works" %>
						<% end %>
					</div>
				<% end %>
		    <div class="span11">
				  <div itemscope itemtype="http://schema.org/ScholarlyArticle">
					  <h4><%= link_to work.title, work_path(work.id) %></h4>
			      <p><%= formatted_citation(work).html_safe %>
				    <br/>
				    <% unless work.short_doi.blank? %>
					    <%= link_to "http://doi.org/" + work.short_doi, "http://doi.org/" + work.short_doi, :itemprop => "url" %>
					  <% end %>
					  <span class="label"><%= work.type.underscore.humanize %></span></p>
		      </div>
		    </div>
		  </div>
    <% end %>	
		<%= will_paginate @works %>
  <% else %>
    <h2>No works found</h2>
  <% end %>
</div>