<div class="content">
	<div class="page-header">
    <h2><%= @work.title %></h2>
  </div>

	<div class="row">
	  <div class="span8">
			<div itemscope itemtype="http://schema.org/ScholarlyArticle">
		    <p class="citation"><%= formatted_citation(@work).html_safe %>
				<br/><%= link_to "http://doi.org/" + @work.short_doi, "http://doi.org/" + @work.short_doi, :itemprop => "url" %>
				<span class="label"><%= @work.type.underscore.humanize %></span>
				<div id="comment_<%= @work.id %>">
					<%= render :partial => "works/comment" %>
			  </div>
			  </p>
	    </div>
	  </div>

	  <div class="span3 offset1">
		  <p><%= link_to "JSON", work_path(@work.id, :format => :json) %> | <%= link_to "XML", work_path(@work.id, :format => :xml) %> | <%= link_to "BibTeX", work_path(@work.id, :format => :bib) %> | <%= link_to "RIS", work_path(@work.id, :format => :ris) %> | <%= link_to "CSV", work_path(@work.id, :format => :csv) %></p>
	  </div>
  </div>
	
	<ul class="nav nav-tabs">
		<li class="active"><a href="#source" data-toggle="tab">Metrics</a></li>
	</ul>
	
	<div class="tab-content">		
    <% if @work.citations_count > 0 %>
		  <div class="tab-pane active" id="source">
	      <%= render :partial => 'source'%>
	    </div>
    <% end %>
  </div>
</div>