<% unless @work.users.empty? %>
  <div class="span1">
  	<% @work.users.each do |user| %>
		  <%= link_to image_tag("http://api.twitter.com/1/users/profile_image/#{user.username}", :class => "photo_works"), user_path(user.username) %>
		<% end %>
	</div>
	<div class="span8 work">
<% else %>
  <div class="span8 offset1 work">
<% end %>
  <div itemscope itemtype="http://schema.org/ScholarlyArticle">
	  <h4><%= link_to @work.title, work_path(@work.id) %></h4>
    <p class="citation"><%= formatted_citation(@work).html_safe %>.
    <% unless @work.short_doi.blank? %>
	    <%= link_to "http://doi.org/" + @work.short_doi, "http://doi.org/" + @work.short_doi, :itemprop => "url" %>
	  <% end %>
		<span class="label"><%= @work.type.underscore.humanize %></span>
		<div id="comment_<%= @work.id %>">
			<%= render :partial => "works/comment" %>
	  </div>
  </div>
</div>