<%#
  # Copyright (c) 2011 Martin Fenner
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>
<div class="article">
	<table>
		<th class="name">
			<h2><%= pluralize(@author.articles.count, 'Article') %></h2>
		</th>
		<% active_groups.each do |group| %>
	    <% group.sources.active.each do |source| %>
	      <th class="count">
			    <%= image_tag source.class.to_s.downcase + "_sm.gif" %>
		    </th>
		  <% end %>
    <% end %>
    <% for article in @articles %>
      <tr>
      	<td class="name">
      	  <span class="name"><%= link_to (article.title.blank? ? article.doi : h(article.title)), "http://dx.doi.org/" + h(article.doi) %></span><br/>
			    <% unless article.authors.empty? %>
          	  <% article.authors.each do |author| %>
          	    <%= link_to_unless_current(h(author.display_name), :controller => "authors", :action => "show", :id => author.mas_id, :format => :html) %>  
              <% end %>
            <% end %>
          <strong><%= h(article.year.blank? ? "" : article.year) %></strong>
      	</td>
          <% article.citations_by_group.each do |citations| %>  
            <% citations[:sources].each do |citation| %>
    	        <td class="count">
               <%= link_to citation[:total], citation[:public_url] if citation[:total] > 0 %>
             </td>
         <% end %>
   	  <% end %>
	  </tr>
    <% end %>
	</table>
	
	<div class="pagination">
    <%= will_paginate @articles %>
  </div>
</div>