<% if params[:service] == "authorclaim" and ((controller.action_name == "edit" or (controller.action_name == "update" and !@author.errors.empty?))) %>
  <div class="edit">
	  <%= form_for :author, :url => author_path(@author.username, :partial => "service", :service => "authorclaim"), :html => { :method => :put, :remote => true } do |f| %>
    <h3>AuthorClaim</h3>
		<%= f.text_field :authorclaim %>
		<div class="submit">
			  <%= link_to "Cancel", author_path(@author.username, :partial => "service"), :remote => true %>
		    <%= f.submit("Submit", :class => "btn primary") %>
		</div>
		<% end %>
	</div>
<% else %>
	  <%= image_tag "authorclaim.png", :class => "photo_mini", :title => "AuthorClaim" %><br/>
		<span class="name"><%= @author.authorclaim.blank? ? "not set" : link_to(@author.authorclaim, "http://authorclaim.org/profile/" + @author.authorclaim) %></span>
		<% if current_author == @author or current_author.try(:admin?) %>&nbsp;<%= link_to image_tag("edit.gif"), edit_author_path(@author.username, :partial => "service", :service => "authorclaim"),
		                                       :remote => true,
																					 :method => :get,
		                                       :title => "Edit AuthorClaim" %>
		<% end %>
<% end %>