<%#
  # Copyright (c) 2011 Martin Fenner
  #
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%> 
<% unless @authors.empty? %>
  <table class="index">
	  <th class="name"><%= (author_signed_in? and params[:q].blank?) ? 'Following ' : "") + pluralize(@authors.total_entries, 'Author' %></th>
	<% @authors.in_groups_of(2, false) do |authors| %> 
	  <tr>  
	    <% authors.each do |author| %>  
	    	<td class="index">
		      <% unless author.nil? %>
						<%= image_tag "http://api.twitter.com/1/users/profile_image/#{author.username}", :class => "photo_mini" %>
	      	  <span class="name"><%= link_to author.display_name, author_path(author.username) %></span><br/>
	          <%= link_to "@#{author.username}", "http://twitter.com/#{author.username}" %>
	        <% end %>
      	</td>
	    <% end %>  
	  </tr>  
	<% end %>
	<tr>
    <td class="pagination" colspan=2>
	    <div class="pagination">
		    <%= will_paginate @authors %>
		  </div>
	  </td>
	</tr>
	</table>
</div>
<% else %>
	<h2>Welcome to ScienceCard</h2>
	<p class="about">
		ScienceCard allows a researcher to create and maintain a researcher profile with minimal effort. ScienceCard will list all your publications, and will automatically collect citations, bookmarks and other article-level metrics for these publications.
	</p>
	<ol class="about">
		<li>To create your own ScienceCard, simply <%= link_to "sign in with Twitter", author_omniauth_authorize_path(:twitter) %>. Then optionally link your ScienceCard to your Microsoft Academic Search and/or AuthorCalim profile on the ScienceCard profile page.</li>
		<li>ScienceCard automatically lists the available ScienceCards of the people you follow on Twitter. Or search for the ScienceCards of people you know, using the search box on this page.</li>
		<li>ScienceCard automatically lists the articles written by the people you follow. Or <%= link_to "search", articles_path %> for articles written by ScienceCard authors.</li>
		<li>Once you found the ScienceCard of the person you are interested in, you can look at his publications, and how often they have been downloaded, bookmarked or cited. </li>
	</ol>
	<p class="about">
		ScienceCard was started in September 2011 by Martin Fenner. Please contact him <%= link_to "@ScienceCard", "http://twitter.com/sciencecard" %> if you have questions or comments.
	</p>
<% end %>