<% if params[:service] == "mas" and (controller.action_name == "edit" or (controller.action_name == "update" and !@author.errors.empty?)) %>
  <div class="edit">
	  <%= remote_form_for :author, :update => "service", :url => author_url(:id => @author.username, :partial => "service", :service => "mas"), :before => "Element.show('spinner');", :method => :put do |f| %>
	  <h3>Microsoft Academic Search</h3>
    <% if mas_choices(@author).nil? or mas_choices(@author).empty? %>
      <%= f.text_field :mas %>
    <% else %>
      <%= f.select(:mas, mas_choices(@author), :include_blank => 'None', :prompt => 'Please Select:') %>
    <% end %>
		  <p>
			  <%= link_to_remote "Cancel", :update => "service", :url => author_path(@author.username, :partial => "service"), :method => :get %>
		    <%= f.submit("Submit") %>
		    <%= image_tag 'spinner.gif', :id=>'spinner', :style=>"display:none;" %>
		<% end %>
	</div>
<% else %>
	  <%= image_tag "mas.png", :class => "photo_mini" %><br/>
		<span class="name"><%= @author.mas.blank? ? "not set" : link_to(@author.mas, "http://www.mas.com/profiles/" + @author.mas) %></span>
		<% if current_author == @author or current_author.try(:admin?) %>
		  &nbsp;<%= link_to_remote image_tag("edit.gif"), { :update => "service", 
		                                       :url => edit_author_path(@author.username, :partial => "service", :service => "mas"),
		                                       :method => :get },
		                                       :title => "Edit Mendeley" %>
		<% end %>
<% end %>