<% if params[:service] == "mas" and (controller.action_name == "edit" or (controller.action_name == "update" and !@author.errors.empty?)) %>
  <div class="edit">
	  <%= form_for :author, :url => author_path(@author.username, :partial => "service", :service => "mas"), :html => { :method => :put, :remote => true } do |f| %>
	  <h3>Microsoft Academic Search</h3>
    <% if mas_choices(@author).nil? or mas_choices(@author).empty? %>
      <%= f.text_field :mas %>
    <% else %>
      <%= f.select(:mas, mas_choices(@author), :include_blank => 'None', :prompt => 'Please Select:') %>
    <% end %>
		  <p>
			  <%= link_to "Cancel", author_path(@author.username, :partial => "service"),:remote => true %>
		    <%= f.submit("Submit") %>
		    <%= image_tag 'spinner.gif', :id=>'spinner', :style=>"display:none;" %>
		<% end %>
	</div>
<% else %>
	  <%= image_tag "mas.png", :class => "photo_mini", :title => "Microsoft Academic Search" %><br/>
		<span class="name"><%= @author.mas.blank? ? "not set" : link_to(@author.mas, "http://academic.research.microsoft.com/Author/" + @author.mas) %></span>
		<% if current_author == @author or current_author.try(:admin?) %>&nbsp;<%= link_to image_tag("edit.gif"), edit_author_path(@author.username, :partial => "service", :service => "mas"),
			                                     :remote => true,
		                                       :method => :get,
		                                       :title => "Edit Microsoft Academic Search" %>
		<% end %>
<% end %>