<% if params[:service] == "mendeley" and ((controller.action_name == "edit" or (controller.action_name == "update" and !@author.errors.empty?))) %>
  <div class="span12 edit">
	  <%= form_for :author, :url => author_path(@author.username, :partial => "service", :service => "mendeley"), :html => { :method => :put, :remote => true } do |f| %>
    <h3>Mendeley</h3>
		<%= f.text_field :mendeley, :class => "span3" %>
		<div class="submit">
	    <%= link_to "Cancel", author_path(@author.username, :partial => "service"), :remote => true %>
		  <%= f.submit("Submit", :class => "btn primary") %>
		</div>
		<% end %>
	</div>
<% else %>
  <div class="span4">
	  <%= image_tag "mendeley.png", :class => "photo_mini", :title => "Mendeley" %><br/>
		<span class="name"><%= @author.mendeley.blank? ? "not set" : link_to(@author.mendeley, "http://www.mendeley.com/profiles/" + @author.mendeley) %></span>
		<% if current_author == @author or current_author.try(:admin?) %>&nbsp;<%= link_to image_tag("edit.gif"), edit_author_path(@author.username, :partial => "service", :service => "mendeley"),
		                                       :remote => true,
																					 :method => :get,
		                                       :title => "Edit Mendeley" %>
		<% end %>
	</div>
<% end %>