<table>
	<tr>
		<td class="photo">
      <%= image_tag "http://api.twitter.com/1/users/profile_image/#{@author.username}?size=original", :class => "photo" %>
</td>
<td class="service">
	<div id="twitter">
      <%= image_tag "twitter.gif", :class => "service" %><br/>
		<span class="service"><%= link_to("@#{@author.username}", "http://twitter.com/" + @author.username) %></span>
    </div>
  </td>
<td class="service">
	<% if !@author.mendeley.blank? or current_author == @author or current_author.try(:admin?) %>
	<div id="mendeley">
      <%= render :partial => 'mendeley' %>
    </div>
	<% end %>
  </td>
  <td class="service">
	  <% if !@author.mas.blank? or current_author == @author or current_author.try(:admin?) %>
    <div id="mas">
      <%= render :partial => 'mas' %>
    </div>
    <% end %>
  </td>
</tr>
</table>