<div class="content">
	
	<div class="row">
	  <div class="span3" id="photo">
			<% unless @author.image.blank? %>
		    <%= image_tag @author.image, :class => "photo" %>
		  <% end %>
		</div>
		<div class="span8" id="twitter">
		  <%= render :partial => 'twitter' %>
		</div>
		<div class="span4 offset1">
			<p><%= link_to "JSON", author_path(@author.username, :format => :json) %> | <%= link_to "XML", author_path(@author.username, :format => :xml) %> | <%= link_to "BibTeX", author_path(@author.username, :format => :bib) %> | <%= link_to "RIS", author_path(@author.username, :format => :ris) %> | <%= link_to "CSV", author_path(@author.username, :format => :csv) %></p>
		</div>
	</div>
	
	<ul class="tabs" data-tabs="tabs" >
		<li class="<%= @author.has_profile ? '' : 'active' %>"><a href="#service">Author Identifiers</a></li>
		<% if @author.has_profile %>
		<li class="<%= params[:page].blank? ? 'active' : '' %>"><a href="#source">Metrics</a></li>
		<li class="<%= params[:page].blank? ? '' : 'active' %>" ><a href="#article">Articles</a></li>
		<% end %>
	</ul>	
	
	<div class="tab-content">
		<div class="tab-pane <%= @author.has_profile ? '' : 'active' %>" id="service">
			<%= render :partial => 'service' %>
		</div>
		
		<% if @author.has_profile %>
			<div class="tab-pane <%= params[:page].blank? ? 'active' : '' %>" id="source">
			  <%= render :partial => 'source'%>
			</div>

			<div class="tab-pane <%= params[:page].blank? ? '' : 'active' %>" id="article">
			  <%= render :partial => 'article'%>
			</div>
		<% end %>
	</div>
</div>