<% if params[:partial] == "twitter" and ((controller.action_name == "edit" or (controller.action_name == "update" and !@author.errors.empty?))) %>
  <div class="edit">
		<%= form_for :author, :url => author_path(@author.username, :partial => "twitter", :service => "twitter"), :html => { :method => :put, :remote => true } do |f| %>
		  <h3>Name</h3>
		  <%= f.text_field :name, :class => :name %>
		  <div class="submit">
			  <%= link_to "Cancel", author_path(@author.username, :partial => "twitter"), :remote => true %>
		    <%= f.submit("Submit", :class => "btn primary") %>
		    <%= image_tag 'spinner.gif', :id=>'spinner', :style=>"display:none;" %>
		  </div>
		<% end %>
	</div>
<% else %>
	<h2>
		<%= h(@author.display_name) %>
		<% if current_author == @author or current_author.try(:admin?) %>
			<%= link_to image_tag("edit.gif"), edit_author_path(@author.username, :partial => "twitter"), :remote => true, :title => "Edit Name" %>
		<% end %>
	</h2>
  <h4><%= link_to "@#{@author.username}", "http://twitter.com/" + @author.username %></h4>
	<% unless @author.location.blank? %>
		<%= @author.location %>
	<% end %>
	<p>
	<% unless @author.description.blank? %>
		<%= @author.description %><br/>
	<% end %>
	<% unless @author.website.blank? %>
		<%= link_to @author.website, @author.website %>
	<% end %>
<% end %>
