<div data-role="header">
	<%= link_to 'Authors', authors_path, "data-role" => "button", "data-icon" => "home", "data-transition" => "reverse slide" %>
	<h1><%= "@#{@author.username}" %></h1>
	<% if author_signed_in? and current_author == @author %>
	  <%= link_to 'Sign out', destroy_author_session_path, "data-role" => "button", "class" => "ui-btn-right", "data-icon" => "gear", "rel" => "external" %>
	<% end %>
</div>

<div data-role="content">
	<ul data-role="listview" data-theme="c" class="show">
	  <li><a href="<%= "http://twitter.com/#{@author.username}" %>" class="signed_in" rel="external">
		  <%= image_tag "http://api.twitter.com/1/users/profile_image/#{@author.username}" %>
	    <h3><%= "#{@author.display_name}" %></h3>
			<% unless @author.description.blank? %>
				<%= @author.description %><br/>
			<% end %>
			<% unless @author.location.blank? %>
				<%= @author.location %>
			<% end %>
	    </a>
	  </li>
	</ul>
	<p>
		
	<%= render :partial => 'service' %>
		
	<%= render :partial => 'article' %>
</div>