<% if params[:service] == "authorclaim" and ((controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?))) %>
  <div class="span6">
	  <%= form_for :user, :url => user_path(@user.username, :partial => "service", :service => "authorclaim"), :html => { :class => "well", :method => :put, :remote => true } do |f| %>
      <label>AuthorClaim</label>
		  <%= f.text_field :authorclaim %><br />
		  <%= link_to "Cancel", user_path(@user.username, :partial => "service"), :remote => true, :class => "btn" %>
		  <%= f.submit("Submit", :class => "btn-primary") %>
		<% end %>
	</div>
<% else %>
  <div class="span3">
	  <%= image_tag "authorclaim.png", :class => "photo_mini", :title => "AuthorClaim" %><br/>
		<span class="name"><%= @user.authorclaim.blank? ? "not set" : link_to(@user.authorclaim, "http://authorclaim.org/profile/" + @user.authorclaim) %></span>
		<% if current_user == @user or current_user.try(:admin?) %>&nbsp;<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(@user.username, :partial => "service", :service => "authorclaim"),
		                                       :remote => true,
																					 :method => :get,
		                                       :title => "Edit AuthorClaim" %>
		<% end %>
	</div>
<% end %>