<% if params[:service] == "mendeley" and ((controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?))) %>
  <div class="span6">
	  <%= form_for :user, :url => user_path(@user.username, :partial => "service", :service => "mendeley"), :html => { :class => "well", :method => :put, :remote => true } do |f| %>
      <label>Mendeley</label>
		  <%= f.text_field :mendeley %><br />
	    <%= link_to "Cancel", user_path(@user.username, :partial => "service"), :remote => true, :class => "btn" %>
		  <%= f.submit("Submit", :class => "btn-primary") %>
	  <% end %>
	</div>
<% else %>
  <div class="span3">
	  <%= image_tag "mendeley.png", :class => "photo_mini", :title => "Mendeley" %><br/>
		<span class="name"><%= @user.mendeley.blank? ? "not set" : link_to(@user.mendeley, "http://www.mendeley.com/profiles/" + @user.mendeley) %></span>
		<% if current_user == @user or current_user.try(:admin?) %>&nbsp;<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(@user.username, :partial => "service", :service => "mendeley"),
		                                       :remote => true,
																					 :method => :get,
		                                       :title => "Edit Mendeley" %>
		<% end %>
	</div>
<% end %>