<div class="content">
	<div class="row">
		<% unless @user.image.blank? %>
	    <div class="span2" id="photo">
		    <%= image_tag @user.image, :class => "photo" %>
			</div>
			<div class="span6" id="twitter">
		<% else %>
		  <div class="span6 offset2" id="twitter">
		<% end %>
		  <%= render :partial => 'twitter' %>
		</div>
		<div class="span3 offset1">
			<p><%= link_to "JSON", user_path(@user.username, :format => :json) %> | <%= link_to "XML", user_path(@user.username, :format => :xml) %> | <%= link_to "BibTeX", user_path(@user.username, :format => :bib) %> | <%= link_to "RIS", user_path(@user.username, :format => :ris) %> | <%= link_to "CSV", user_path(@user.username, :format => :csv) %></p>
		</div>
	</div>
	
	<ul class="nav nav-tabs">
		<li class="<%= @user.has_profile ? '' : 'active' %>"><a href="#service" data-toggle="tab">Identifiers</a></li>
		<% if @user.has_profile %>
		<li class="active"><a href="#source" data-toggle="tab">Metrics</a></li>
		<% unless @user.journal_articles.empty? %>
		  <li><a href="#journal_article" data-toggle="tab">Journal Articles (<%= @user.journal_articles.count %>)</a></li>
		<% end %>
		<% unless @user.conference_papers.empty? %>
		  <li><a href="#conference_paper" data-toggle="tab">Conference Papers (<%= @user.conference_papers.count %>)</a></li>
		<% end %>
		<% unless @user.book_contents.empty? %>
		  <li><a href="#book_content" data-toggle="tab">Book Chapters (<%= @user.book_contents.count %>)</a></li>
		<% end %>
		<% end %>
	</ul>	
	
	<div class="tab-content">
		<div class="tab-pane <%= @user.has_profile ? '' : 'active' %>" id="service">
			<%= render :partial => 'service' %>
		</div>
		
		<% if @user.has_profile %>
			<div class="tab-pane active" id="source">
			  <%= render :partial => 'source'%>
			</div>

			<div class="tab-pane" id="journal_article">
			  <%= render :partial => 'journal_article' %>
			</div>
			
			<div class="tab-pane" id="conference_paper">
			  <%= render :partial => 'conference_paper' %>
			</div>
			
			<div class="tab-pane" id="book_content">
			  <%= render :partial => 'book_content' %>
			</div>
		<% end %>
	</div>
</div>