<% if params[:partial] == "twitter" and ((controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?))) %>
	<%= form_for :user, :url => user_path(@user.username, :partial => "twitter", :service => "twitter"), :html => { :class => "well", :method => :put, :remote => true } do |f| %>
	  <label>Name</label>
	  <%= f.text_field :name %><br />
	  <%= f.submit("Submit", :class => "btn-primary btn-mini") %>
	  <%= link_to "Cancel", user_path(@user.username, :partial => "twitter"), :remote => true %>
	<% end %>
<% else %>
	<h2>
		<%= h(@user.display_name) %>
		<% if current_user == @user or current_user.try(:admin?) %>
			<small><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(@user.username, :partial => "twitter"), :remote => true, :title => "Edit Name" %></small>
		<% end %>
	</h2>
  <h4><%= link_to "@#{@user.username}", "http://twitter.com/" + @user.username %></h4>
	<% unless @user.location.blank? %>
		<%= @user.location %>
	<% end %>
	<p>
	<% unless @user.description.blank? %>
		<%= @user.description %><br/>
	<% end %>
	<% unless @user.website.blank? %>
		<%= link_to @user.website, @user.website %>
	<% end %>
<% end %>
