<% unless @user.works.empty? %>
  <% unless active_categories.empty? %>
    <div data-role="collapsible" data-collapsed="false">
	    <h3>Metrics</h3>
      <%= render :partial => 'source'%>
    </div>
  <% end %>
  
  <div data-role="collapsible">
	<h3 class="show">Works</h3>
  <ul data-role="listview" data-theme="c" data-filter="true" data-filter-placeholder="Filter works...">
    <% @user.works.each do |work| %>
	    <li><a href="<%= work_path(work.id) %>" class="normal">
        <h3><%= work.title %></h3>
        <%= formatted_citation(work, :without_links => true).html_safe %>
        </a>
      </li>
    <% end %>
  </ul>
  </div>
<% end %>

<div data-role="collapsible">
  <h3 class="show">Friends</h3>
		  <ul data-role="listview" data-theme="c" data-filter="true" data-filter-placeholder="Filter friends...">
		    <% @user.friends.each do |user| %>
			    <li><a href="<%= user_path(user.username) %>" class="signed_in">
			      <%= image_tag "http://api.twitter.com/1/users/profile_image/#{user.username}" %>
		        <h3><%= "#{user.display_name}" %></h3>
		        <%= "@#{user.username}" %>
		        </a>
		      </li>
		    <% end %>
		  </ul>
</div>

<% if @user.has_profile and !@user.works.empty? %>
	</div>
<% end %>