<%= form.radio_button("rhetoric", "agreesWith") %> Agrees with statements, ideas or conclusions presented in the cited paper. Positive sentiment, e.g. "great work!". (<%= link_to "cito:agreesWith", "http://speroni.web.cs.unibo.it/cgi-bin/lode/req.py?req=http:/purl.org/spar/cito#d3e72" %>)<br />
	<%= form.radio_button("rhetoric", "discusses") %> Discusses statements, ideas or conclusions presented in the cited paper. Neutral or simply mentioning an article. (<%= link_to "cito:discusses", "http://speroni.web.cs.unibo.it/cgi-bin/lode/req.py?req=http:/purl.org/spar/cito#d3e274" %>)<br />
	<%= form.radio_button("rhetoric", "disagreesWith") %> Disagrees with statements, ideas or conclusions presented in the cited paper. Negative sentiment, e.g. "ridiculous paper". (<%= link_to "cito:disagreesWith", "http://speroni.web.cs.unibo.it/cgi-bin/lode/req.py?req=http:/purl.org/spar/cito#d3e261" %>)<p>
	<%= form.check_box(:is_author) %> Written by an author or publisher of the cited paper. The tweeter was involved with the article mentioned. Don't include RTs by others. (<%= link_to "cito:sharesAuthorsWith", "http://speroni.web.cs.unibo.it/cgi-bin/lode/req.py?req=http:/purl.org/spar/cito#d3e980" %>)<p>
	<%= form.check_box(:method) %> Describes a method detailed in the cited paper. Also description of study subjects, e.g. "A study of 10,000 runners found". (<%= link_to "cito:usesMethodIn", "http://speroni.web.cs.unibo.it/cgi-bin/lode/req.py?req=http:/purl.org/spar/cito#d3e1051" %>)<br />
	<%= form.check_box(:data) %> Uses data presented in the cited paper. This should usually be actual numbers, e.g. "smokers die 25 years sooner". (<%= link_to "cito:usesDataFrom", "http://speroni.web.cs.unibo.it/cgi-bin/lode/req.py?req=http:/purl.org/spar/cito#d3e1037" %>)<br />
	<%= form.check_box(:conclusions) %> Describes conclusions presented in the cited paper, e.g. "humanity is getting less violent". (<%= link_to "cito:usesConclusionsFrom", "http://speroni.web.cs.unibo.it/cgi-bin/lode/req.py?req=http:/purl.org/spar/cito#d3e1022" %>)<p>

<div class="submit">
  <%= link_to_remote "Cancel", :update => "index", :url => posts_path(:page => params[:page], :q => params[:q]), :method => :get %>
  <%= form.submit("Submit") %>
</div>