<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.text_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :comment_id %><br />
    <%= f.text_field :comment_id %>
  </div>
  <div class="field">
    <%= f.label :rhetoric %><br />
    <%= f.text_field :rhetoric %>
  </div>
  <div class="field">
    <%= f.label :method %><br />
    <%= f.check_box :method %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.check_box :data %>
  </div>
  <div class="field">
    <%= f.label :discussion %><br />
    <%= f.check_box :discussion %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.check_box :author %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
