<h2>Summary</h2>

<div class="summary">
  <%= pluralize(@ratings.count, 'Rating') %> for <%= pluralize(@posts.count, 'Post') %>, out of <%= pluralize(@all_posts.count, 'Post') %>.<p>
</div>


<h2>Most active users</h2>

<ol>
	<% @authors.each do |author| %>
	  <li><%= link_to author.name, author_url(author.username) %> - <%= author.ratings_count %> Ratings</li>
	<% end %>
</ol>