<h2>Summary</h2>
<div class="summary">
  <%= pluralize(@ratings.count, 'rating') %> by <%= pluralize(@authors_with_ratings.count, 'user') %> for <%= pluralize(@posts_with_ratings.count, 'tweet') %>, out of <%= pluralize(@posts.count, 'tweet') %>.<p>
</div>

<table class="index">
	<tr>
	  <th class="summary">Agreement with Paper</th>
		<th class="summary">Tweets by Author/Publisher</th>
		<th class="summary">Uses Methods - Data - Conclusions</th>
	</tr>
	<tr>
		<td class="summary"><%= image_tag(@rhetoricchart) %></td>
		<td class="summary"><%= image_tag(@authorchart) %></td>
		<td class="summary"><%= image_tag(@reusechart) %></td>
	</tr>
</table>
<p>
<h2>Activity</h2>
<div class="summary">
  <%= image_tag(@sparkline) %><p>
</div>

<h2>Most active users</h2>

<ol>
	<% @authors.each do |author| %>
	  <li><%= link_to author.name, author_url(author.username) %> - <%= author.ratings_count %> Ratings</li>
	<% end %>
</ol>