<h2>Summary</h2>
<div class="summary">
  <%= pluralize(@ratings.count, 'classification') %> by <%= pluralize(@authors_with_ratings.count, 'user') %> for <%= pluralize(@posts_with_ratings.count, 'tweet') %>, out of <%= pluralize(@posts.count, 'tweet') %>.<p>
</div>

<table class="index">
	<tr>
	  <th class="summary">Agreement with Paper</th>
		<th class="summary">Tweets by Author (or Publisher)</th>
		<th class="summary">Uses Methods/Data/Conclusions</th>
	</tr>
	<tr>
		<td class="summary"><%= image_tag(@rhetoricchart) %></td>
		<td class="summary"><%= image_tag(@authorchart) %></td>
		<td class="summary"><%= image_tag(@reusechart) %></td>
	</tr>
</table>
<p>
<h2>Activity</h2>
<div class="summary">
  <%= image_tag(@sparkline) %><p>
</div>

<h2>Most active users</h2>

<% unless @authors.empty? %>
  <table class="index">
	<% @authors.each do |author| %>
	  <tr>   
	    	<td class="index">
						<%= image_tag "http://api.twitter.com/1/users/profile_image/#{author.username}", :class => "photo_mini" %>
	      	  <span class="name"><%= author.display_name %></span> <%= link_to "@#{author.username}", "http://twitter.com/#{author.username}" %><br/>
	          <%= author.description %>
      	</td> 
        <td class="rating_count">
	        <%= pluralize(author.ratings_count, 'Classification') %>
	      </td>
	  </tr>  
	<% end %>
	</table>
<% end %>