<h2>Dataset</h2>
<div class="summary">
  All tweets contain a link to a scholarly article. Data collected by <%= link_to "altmetric.com", "http://altmetric.com" %>.
</div>

<table class="index">
	<tr>
		<td class="two">
			<ul>
				<li><%= pluralize(@posts.count, 'tweet') %></li>
				<li><%= pluralize(@posts_with_rts.count, 'retweet') %></li>
				<li>Posted <%= l @posts.first.published_at, :format => :twitter %> - <%= l @posts.last.published_at, :format => :result %></li>
			</ul>
		</td>
		<td class="two">
			<ul>
				<li><%= @unique_author_count %> unique users</li>
				<li><%= @unique_article_count %> unique articles</li>
				<li><%= @unique_journal_count %> unique journals</li>
			</ul>
		</td>
	</tr>
</table>

<h2>Summary</h2>
<div class="summary">
  <%= pluralize(@ratings.count, 'classification') %> by <%= pluralize(@authors_with_ratings.count, 'user') %> for <%= pluralize(@posts_with_ratings.count, 'tweet') %>, out of <%= pluralize(@posts.count, 'tweet') %>.
</div>

<table class="index">
	<tr>
	  <th class="summary">Agreement with Paper</th>
		<th class="summary">Tweets by Author (or Publisher)</th>
		<th class="summary">Uses Methods/Data/Conclusions</th>
	</tr>
	<tr>
		<td class="summary"><%= image_tag(@rhetoricchart) %></td>
		<td class="summary"><%= image_tag(@authorchart) %></td>
		<td class="summary"><%= image_tag(@reusechart) %></td>
	</tr>
</table>
<p>
<h2>Activity</h2>
<div class="summary">
  <%= image_tag(@sparkline) %>
</div>

<h2>Most active users</h2>

<% unless @authors.empty? %>
  <table class="index">
	<% @authors.each do |author| %>
	  <tr>   
	    	<td class="index">
						<%= image_tag "http://api.twitter.com/1/users/profile_image/#{author.username}", :class => "photo_mini" %>
	      	  <span class="name"><%= author.display_name %></span> <%= link_to "@#{author.username}", "http://twitter.com/#{author.username}" %><br/>
	          <%= author.description %>
      	</td> 
        <td class="rating_count">
	        <%= pluralize(author.ratings_count, 'Classification') %>
	      </td>
	  </tr>  
	<% end %>
	</table>
<% end %>