<h2>Dataset</h2>
<div class="summary">
  All tweets contain a link to a scholarly article. Data collected by <%= link_to "altmetric.com", "http://altmetric.com" %>.
</div>

<table class="index">
	<tr>
		<td class="two">
			<ul>
				<li>Posted <%= l @posts.first.published_at, :format => :twitter %> - <%= l @posts.last.published_at, :format => :result %></li>
				<li><%= pluralize(@posts.count, 'tweet') %></li>
				<li><%= pluralize(@posts_with_rts.count, 'retweet') %></li>
				<li><%= pluralize(@posts_with_title.count, 'tweet') %> quote article title</li>
			</ul>
		</td>
		<td class="two">
			<ul>
				<li><%= @unique_author_count %> unique users</li>
				<li><%= @unique_article_count %> unique articles</li>
				<li><%= @unique_journal_count %> unique journals</li>
			</ul>
		</td>
	</tr>
</table>

<h2>Summary</h2>
<div class="summary">
  <%= pluralize(@ratings.count, 'classification') %> by <%= pluralize(@authors_with_ratings.count, 'user') %> for <%= pluralize(@posts_with_ratings.count, 'tweet') %> (<%= number_to_percentage(@posts_with_ratings.count * 100 / @posts.count, :precision => 0) %> of all tweets, <%= number_with_precision(Float(@ratings.count) / @posts_with_ratings.count, :precision => 1) %> ratings per tweet). <%= pluralize(@posts_with_spam.count, 'tweet') %> <%= @posts_with_spam.count == 1 ? "was" : "were" %> categorized as spam.
</div>

<table class="index">
	<tr>
	  <th class="summary">Subject Area</th>
	  <th class="summary">Agreement with Paper</th>
	</tr>
	<tr>
		<td class="summary">
			<%= high_chart("topic", @topicchart) do |c| %>
			  <%= "options.tooltip.formatter = function() { return this.y + ' Tweets: ' + (this.y / #{@posts_with_topic.count} * 100).toFixed(0) + '%'; }" %>
			<% end %>
		</td>
		<td class="summary">
			<%= high_chart("rhetoric", @rhetoricchart) do |c| %>
			  <%= "options.tooltip.formatter = function() { return this.y + ' Tweets: ' + (this.y / #{@posts_with_ratings.count} * 100).toFixed(0) + '%'; }" %>
			<% end %>
		</td>
	</tr>
	<tr>
		<th class="summary">Tweets by Author/Publisher</th>
		<th class="summary">Uses Methods/Data/Conclusions</th>
	</tr>
	<tr>
		<td class="summary">
			<%= high_chart("author", @authorchart) do |c| %>
			  <%= "options.tooltip.formatter = function() { return this.y + ' Tweets: ' + (this.y / #{@posts_with_ratings.count} * 100).toFixed(0) + '%'; }" %>
			<% end %>
		</td>
		<td class="summary">
			<%= high_chart("reuse", @reusechart) do |c| %>
			  <%= "options.tooltip.formatter = function() { return this.y + ' Tweets: ' + (this.y / #{@posts_with_ratings.count} * 100).toFixed(0) + '%'; }" %>
			<% end %>	
		</td>
	</tr>
</table>
<p>
<h2>Activity</h2>
<div class="summary">
  <%= high_chart("activity", @activitychart) do |c| %>
	  <%= "options.tooltip.formatter = function() { return '<strong>' + Highcharts.dateFormat('%B %d, %Y', this.x + 7 * 3600 * 1000) + '</strong><br />' + this.y + ' Ratings'; }".html_safe %>
  <% end %>
</div>

<h2>Most active users</h2>

<% unless @authors.empty? %>
  <table class="index">
	<% @authors.each do |author| %>
	  <tr>   
	    	<td class="index">
						<%= image_tag "http://api.twitter.com/1/users/profile_image/#{author.username}", :class => "photo_mini" %>
	      	  <span class="name"><%= author.display_name %></span> <%= link_to "@#{author.username}", "http://twitter.com/#{author.username}" %><br/>
	          <%= author.description %>
      	</td> 
        <td class="rating_count">
	        <%= pluralize(author.ratings_count, 'Classification') %>
	      </td>
	  </tr>  
	<% end %>
	</table>
<% end %>