<tr id="post_<%= @post.id %>">
	<td class="name">
		<div class="edit">
      <%= image_tag "http://api.twitter.com/1/users/profile_image/#{@post.author}", :class => "photo_mini" %>
      <div class="body">
	      <% remote_form_for :rating, :update => "index", :url => ratings_url(:page => params[:page]) do |form| %>
	        <span class="name"><%= link_to "@#{@post.author}", @post.author_with_link %></span><br />
	        <%= @post.body_with_links.html_safe %><p>
		      <%= form.hidden_field :post_id, :value => @post.id %>
		      <%= form.hidden_field :author_id, :value => current_author.id %>
          <%= render :partial => 'ratings/form', :locals => { :form => form } %>
	      <% end %>
	    </div>
	  </div>
  </td>
  <%= render :partial => 'posts/rating', :locals => { :post => @post } %>
</tr>