<div data-role="header">
	<h1>Results</h1>
</div>

<div data-role="content">

  <div data-role="collapsible">
    <h2>Dataset</h2>
    All tweets contain a link to a scholarly article. Data collected by <%= link_to "altmetric.com", "http://altmetric.com" %>.

		<ul data-role="listview" data-theme="c" data-inset="true">
			<li><%= pluralize(@posts.count, 'tweet') %></li>
			<li><%= pluralize(@posts_with_rts.count, 'retweet') %></li>
			<li><%= pluralize(@posts_with_title.count, 'tweet') %> quote article title</li>
			<li>Posted <%= l @posts.first.published_at, :format => :twitter %> - <%= l @posts.last.published_at, :format => :result %></li>
			<li><%= @unique_author_count %> unique users</li>
			<li><%= @unique_article_count %> unique articles</li>
			<li><%= @unique_journal_count %> unique journals</li>
		</ul>
  </div>

	<div data-role="collapsible" data-collapsed="false">
	  <h2>Summary</h2>

	<%= pluralize(@ratings.count, 'classification') %> by <%= pluralize(@authors_with_ratings.count, 'user') %> for <%= pluralize(@posts_with_ratings.count, 'tweet') %> (<%= number_to_percentage(@posts_with_ratings.count * 100 / @posts.count, :precision => 0) %> of all tweets, <%= number_with_precision(@ratings.count / @posts_with_ratings.count, :precision => 1) %> ratings per tweet). <%= pluralize(@posts_with_spam.count, 'tweet') %> <%= @posts_with_spam.count == 1 ? "was" : "were" %> categorized as spam.

		<h3>Agreement with Paper</h3>
		<%= high_chart("rhetoric", @rhetoricchart) do |c| %>
		  <%= "options.tooltip.formatter = function() { return this.y + ' Tweets: ' + (this.y / #{@posts_with_ratings.count} * 100).toFixed(0) + '%'; }" %>
		<% end %>

		<h3>Tweets by Author (or Publisher)</h3>
			<%= high_chart("author", @authorchart) do |c| %>
			  <%= "options.tooltip.formatter = function() { return this.y + ' Tweets: ' + (this.y / #{@posts_with_ratings.count} * 100).toFixed(0) + '%'; }" %>
		<% end %>

		<h3>Uses Methods/Data/Conclusions</h3>
		<%= high_chart("reuse", @reusechart) do |c| %>
		  <%= "options.tooltip.formatter = function() { return this.y + ' Tweets: ' + (this.y / #{@posts_with_ratings.count} * 100).toFixed(0) + '%'; }" %>
		<% end %>	
	</div>

	<div data-role="collapsible" data-collapsed="false">
	  <h2>Activity</h2>
	  <%= high_chart("activity", @activitychart) do |c| %>
	    <%= "options.tooltip.formatter = function() { return '<strong>' + Highcharts.dateFormat('%B %d, %Y', this.x + 7 * 3600 * 1000) + '</strong><br />' + this.y + ' Ratings'; }".html_safe %>
	  <% end %>
	</div>

	<div data-role="collapsible">	
	  <h2>Most active users</h2>

	  <% unless @authors.empty? %>
	  <ul data-role="listview" data-theme="c" data-inset="true">
		<% @authors.each do |author| %>
		  <li><%= link_to author.display_name, "http://twitter.com/#{author.username}" %>
		<span class="ui-li-count"><%= author.ratings_count.blank? ? 0 : author.ratings_count %></span>
	      	</li>
		<% end %>
		</ul>
	<% end %>
	</div>
</div>

<%= render :partial => 'layouts/footer' %>