<div data-role="header">
	<h1>Classify Tweet</h1>
</div>

<div data-role="content" data-theme="c" class="new">
	<ul data-role="listview">
    <li><a href="<%= @post.article_url %>" rel="external" class="signed_in"><%= image_tag "http://api.twitter.com/1/users/profile_image/#{@post.author}" %>
    <h3><%= "@#{@post.author}" %></h3>
    <%= @post.body.html_safe  %>
    </a>
    </li>
  </ul>

  <div class="article_title">
    <% unless @post.article_title.blank? %>
      <%= @post.article_title_and_journal.html_safe %><p>
    <% end %>
  </div>

	  <% form_for @rating, :url => ratings_url do |form| %>
     <%= form.hidden_field :post_id, :value => @post.id %>
     <%= form.hidden_field :author_id, :value => current_author.id %>

		<fieldset data-role="controlgroup">
       <%= form.label :spam, "Spam" %>
       <%= check_box_tag "rating[spam]" %>
     </fieldset>

    <fieldset data-role="controlgroup">
	    <%= form.select :topic, topic_choices, { :prompt => 'Select Subject Area' } %>
    </fieldset>

		<fieldset data-role="controlgroup">
			<%= form.label "rhetoric_agreeswith", 'Agrees with paper' %>
			<%= form.radio_button("rhetoric", "agreesWith") %> 
			<%= form.label "rhetoric_discusses", 'Discusses paper' %>
			<%= form.radio_button("rhetoric", "discusses") %> 
			<%= form.label "rhetoric_disagreeswith", 'Disagrees with paper' %>
			<%= form.radio_button("rhetoric", "disagreesWith") %> 
		</fieldset>
		
		<fieldset data-role="controlgroup">	
			<%= form.label :is_author, "By paper author/publisher" %>
				<%= check_box_tag "rating[is_author]" %>
		</fieldset>
		
		<fieldset data-role="controlgroup">
			<%= form.label :method, 'Uses method from paper' %>
			<%= check_box_tag "rating[method]" %>
			<%= form.label :data, 'Uses data from paper' %>
			<%= check_box_tag "rating[data]" %>
			<%= form.label :conclusions, 'Uses conclusions from paper' %>
			<%= check_box_tag "rating[conclusions]" %>
	  </fieldset>
	
		<a href="<%= posts_path %>" data-role="button" data-icon="delete" data-inline="true" data-transition="reverse slide">Cancel</a>

			  <%= form.submit "Submit", "data-icon" => "check", "data-transition" => "reverse slide", "data-inline" => "true", "data-theme" => "b" %>
	<% end %>
</div>