<div data-role="header">
	<h1>Classify Tweet</h1>
</div>

<div data-role="content" data-theme="c">
	<ul data-role="listview">
    <li><%= image_tag "http://api.twitter.com/1/users/profile_image/#{@post.author}" %>
    <h3><%= "@#{@post.author}" %></h3>
    <%= @post.body.html_safe  %>
    </li>
  </ul>

  <div class="article_title">
    <% unless @post.article_title.blank? %>
      <%= @post.article_title_and_journal.html_safe %><p>
    <% end %>
  </div>

	  <% form_for @rating, :url => ratings_url, :method => :put do |form| %>
     <%= form.hidden_field :post_id, :value => @post.id %>
     <%= form.hidden_field :author_id, :value => current_author.id %>

		<fieldset data-role="controlgroup">
			<legend>Spam</legend>
       <%= form.label :spam, "Spam. The tweet contains text and/or links unrelated to the linked scholarly article." %>
       <%= form.check_box(:spam) %>
     </fieldset>

		<fieldset data-role="controlgroup">
			<legend>Agreement with Paper</legend>
			<%= form.label "rhetoric_agreeswith", 'Agrees with statements, ideas or conclusions presented in the cited paper. Positive sentiment, e.g. "great work!"' %>
			<%= form.radio_button("rhetoric", "agreesWith") %> 
			<%= form.label "rhetoric_discusses", 'Discusses statements, ideas or conclusions presented in the cited paper. Neutral or simply mentioning an article.' %>
			<%= form.radio_button("rhetoric", "discusses") %> 
			<%= form.label "rhetoric_disagreeswith", 'Disagrees with statements, ideas or conclusions presented in the cited paper. Negative sentiment, e.g. "ridiculous paper".' %>
			<%= form.radio_button("rhetoric", "disagreesWith") %> 
		</fieldset>
		
		<fieldset data-role="controlgroup">	
			<legend>Tweets by Author/Publisher</legend>  
			<%= form.label :is_author, "Written by an author or publisher of the cited paper. The tweeter was involved with the article mentioned. Don't include RTs by others." %>
				<%= form.check_box(:is_author) %>
		</fieldset>
		
		<fieldset data-role="controlgroup">
			<legend>Uses Methods/Data/Conclusions</legend>
			<%= form.label :method, 'Describes a method detailed in the cited paper. Also description of study subjects, e.g. "A study of 10,000 runners found".' %>
			<%= form.check_box(:method) %>
			<%= form.label :data, 'Uses data presented in the cited paper. This should usually be actual numbers, e.g. "smokers die 25 years sooner".' %>
			<%= form.check_box(:data) %>
			<%= form.label :conclusions, 'Describes conclusions presented in the cited paper, e.g. "humanity is getting less violent".' %>
			<%= form.check_box(:conclusions) %>
	  </fieldset>
	
	  <a href="<%= posts_path %>" data-role="button" data-icon="delete" data-inline="true">Cancel</a>
	  <%= form.submit "Submit", "data-icon" => "check", "data-transition" => "pop", "data-inline" => "true", "data-theme" => "b" %>
	<% end %>
</div>