<div class="content">
  <div class="page-header">
    <h2><%= @book.title %> 
	    <small>ISBN <%= @book.isbn_print %>
			<% unless @book.year.blank? %>
			  (<%= @book.year %>)
			<% end %>
			</small></h2>
  </div>

  <div class="row">
		<div class="span3 offset9">
			<p><%= link_to "JSON", book_path(@book.isbn_print, :format => :json) %> | <%= link_to "XML", book_path(@book.isbn_print, :format => :xml) %> | <%= link_to "BibTeX", book_path(@book.isbn_print, :format => :bib) %> | <%= link_to "RIS", book_path(@book.isbn_print, :format => :ris) %> | <%= link_to "CSV", book_path(@book.isbn_print, :format => :csv) %></p>
		</div>
	</div>

	<ul class="nav nav-tabs">
		<li class="active"><a href="#source" data-toggle="tab">Metrics</a></li>
		<% unless @book.book_contents.empty? %>
		  <li><a href="#book_content" data-toggle="tab">Book Chapters (<%= @book.book_contents.count %>)</a></li>
		<% end %>
		<% unless @book.conference_papers.empty? %>
		  <li><a href="#conference_paper" data-toggle="tab">Conference Papers (<%= @book.conference_papers.count %>)</a></li>
		<% end %>
	</ul>	
	
	<div class="tab-content">		
		<div class="tab-pane active" id="source">
		  <%= render :partial => 'source'%>
		</div>

		<div class="tab-pane" id="book_content">
		  <%= render :partial => 'book_content'%>
		</div>
		
		<div class="tab-pane" id="conference_paper">
		  <%= render :partial => 'conference_paper'%>
		</div>
	</div>
</div>