<%#
  # Copyright (c) 2011 Martin Fenner
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>

<% unless @journal.articles.empty? %>
	<% unless active_categories.empty? %>
	  <div id="source">
	    <%= render :partial => 'source'%>
	  </div>
	<% end %>
	<p>

	<div class="article">
		<table>
			<th class="name">
				<h2><%= pluralize(@journal.articles.count, 'Article') %></h2>
			</th>
			<% active_categories.each do |category| %>
		    <% category.sources.active.each do |source| %>
		      <% if source.prefix.blank? or @journal.title.match(/^PLoS/) %>
		      <th class="count">
				    <%= image_tag source.class.to_s.downcase + "_sm.gif", :title => source.category.article_description + ": " + source.name %>
			    </th>
			    <% end %>
			  <% end %>
	    <% end %>
	    <% @articles.each do |article| %>
	      <tr>
					<td class="name">	
	      	  <span itemprop="name" class="name"><%= link_to article.title, article_path(article.short_doi) %></span><br/>
	          <span class="content_type"><%= article.content_type.sub!(/_/, ' ').capitalize %>. </span>
	          <span class="journal">
	            <% unless article.journal.blank? %>
		            <%= article.journal.title %>.
		          <% end %>
							<% unless article.book.blank? %>
		            <%= article.book.title %>.
		          <% end %>
		        </span> <%= article.formatted_citation %><br/><%= link_to "http://doi.org/" + article.short_doi, "http://doi.org/" + article.short_doi, :itemprop => "url" %>
				<% unless article.authors.empty? %>
				  <% if article.authors.count > 0 %>
		        <% article.authors.each do |author| %>
	          	<br/><%= link_to author.display_name, author_path(author.username) %>
	         <% end %>
	       <% end %>
	     <% end %>
	      	</td>
	          <% active_categories.each do |category| %>
					    <% category.sources.active.each do |source| %>
					      <% if source.prefix.blank? or article.doi.match(/^#{source.prefix}/) %>
				        <td class="count">
					        <% citation = article.citations_by_source(source) %>
								  <% if citation and citation[:total] > 0 %>
	                 <% if citation[:public_url] %>
	                   <%= link_to h(citation[:total]), citation[:public_url]  %>
	                 <% else %>
	                   <%= h(citation[:total]) %>
	                 <% end %>
	               <% end %>
					    </td>
					    <% end %>
				    <% end %>
	   	  <% end %>
		  </tr>
	    <% end %>
			<tr>
		    <td class="pagination">
			    <div class="pagination">
				    <%= will_paginate @articles %>
				  </div>
			  </td>
			  <td class="count"></td>
			</tr>
		</table>
	</div>
<% else %>
  <% unless @journal.mas.blank? %>
    <h3>No articles found</h3>
  <% end %>
<% end %>