<%#
  # Copyright (c) 2011 Martin Fenner
  # Licensed under the Apache License, Version 2.0 (the "License");
  # you may not use this file except in compliance with the License.
  # You may obtain a copy of the License at
  #
  #     http://www.apache.org/licenses/LICENSE-2.0
  #
  # Unless required by applicable law or agreed to in writing, software
  # distributed under the License is distributed on an "AS IS" BASIS,
  # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  # See the License for the specific language governing permissions and
  # limitations under the License.
-%>

<% unless @journal.journal_articles.empty? %>
	<div class="journal_article">
		<table class="table table-striped">
			<thead>
			<th>
				<h2><%= pluralize(@journal.journal_articles.count, 'Journal Article') %></h2>
			</th>
			<% active_categories.each do |category| %>
		    <% category.sources.active.each do |source| %>
		      <% if source.prefix.blank? or @journal.title.match(/^PLoS/) %>
		      <th>
				    <%= image_tag source.class.to_s.downcase + "_sm.gif", :title => source.category.work_description + ": " + source.name %>
			    </th>
			    <% end %>
			  <% end %>
	    <% end %>
	    </thead>
	    <tbody>
	    <% @journal_articles.each do |journal_article| %>
	      <tr>
					<td>	
	      	  <h4 itemprop="name" class="name"><%= link_to journal_article.title, work_path(journal_article.id) %></h4>
	          <%= formatted_citation(journal_article).html_safe %>
	          <br/><%= link_to "http://doi.org/" + journal_article.short_doi, "http://doi.org/" + journal_article.short_doi, :itemprop => "url" %>
	      	</td>
	          <% active_categories.each do |category| %>
					    <% category.sources.active.each do |source| %>
					      <% if source.prefix.blank? or journal_article.doi.match(/^#{source.prefix}/) %>
				        <td>
					        <% citation = journal_article.citations_by_source(source) %>
								  <% if citation and citation[:total] > 0 %>
	                 <% if citation[:public_url] %>
	                   <%= link_to h(citation[:total]), citation[:public_url]  %>
	                 <% else %>
	                   <%= h(citation[:total]) %>
	                 <% end %>
	               <% end %>
					    </td>
					    <% end %>
				    <% end %>
	   	  <% end %>
		  </tr>
	    <% end %>
		</tbody>
		</table>
		<%= will_paginate @journal_articles %>
	</div>
<% else %>
  <div class="alert alert-info">
    No journal articles found.
  </div>
<% end %>