<div class="content">
  <div class="page-header">
    <h2><%= @journal.title %> <small>ISSN <%= @journal.issn_print %></small></h2>
  </div>

  <div class="row">
		<div class="span3 offset9">
			<p><%= link_to "JSON", journal_path(@journal.issn_print, :format => :json) %> | <%= link_to "XML", journal_path(@journal.issn_print, :format => :xml) %> | <%= link_to "BibTeX", journal_path(@journal.issn_print, :format => :bib) %> | <%= link_to "RIS", journal_path(@journal.issn_print, :format => :ris) %> | <%= link_to "CSV", journal_path(@journal.issn_print, :format => :csv) %></p>
		</div>
	</div>

	<ul class="nav nav-tabs">
		<li class="<%= params[:page].blank? ? 'active' : '' %>"><a href="#source" data-toggle="tab">Metrics</a></li>
		<li class="<%= params[:page].blank? ? '' : 'active' %>" ><a href="#journal_article" data-toggle="tab">Journal Articles (<%= @journal.journal_articles.count %>)</a></li>
	</ul>	
	
	<div class="tab-content">		
		<div class="tab-pane <%= params[:page].blank? ? 'active' : '' %>" id="source">
		  <%= render :partial => 'source'%>
		</div>

		<div class="tab-pane <%= params[:page].blank? ? '' : 'active' %>" id="journal_article">
		  <%= render :partial => 'journal_article'%>
		</div>
	</div>
</div>