<div class="content">
  <div class="page-header">
    <h2><%= @journal.title %> <small>ISSN <%= @journal.issn_print %></small></h2>
  </div>

	<ul class="tabs" data-tabs="tabs" >
		<li class="<%= params[:page].blank? ? 'active' : '' %>"><a href="#source">Metrics</a></li>
		<li class="<%= params[:page].blank? ? '' : 'active' %>" ><a href="#article">Articles</a></li>
	</ul>	
	
	<div class="tab-content">		
		<div class="tab-pane <%= params[:page].blank? ? 'active' : '' %>" id="source">
		  <%= render :partial => 'source'%>
		</div>

		<div class="tab-pane <%= params[:page].blank? ? '' : 'active' %>" id="article">
		  <%= render :partial => 'article'%>
		</div>
	</div>
</div>