<% unless @posts.empty? %>
	<table class="index">
		<tr>
		  <th class="name" colspan="2">
		    <%= pluralize(@posts.total_entries, 'Tweet') %>
		    <% if params[:q] == "I'm feeling lucky" %>
		      left to classify
		    <% end %>
			</th>
		</tr>
    <% @posts.each do |post| %>
		  <% if controller.action_name == "edit" and post.id == @post.id %>
		    <% if @rating.created_at.nil? %>
		      <%= render :partial => 'ratings/new' %>
		    <% else %>
          <%= render :partial => 'ratings/edit' %>
        <% end %>
      <% else %>
        <tr id="post_<%= post.id %>">
      	  <td class="name">
	          <%= image_tag "http://api.twitter.com/1/users/profile_image/#{post.author}", :class => "photo_mini" %>
	          <div class="body">
	            <span class="name"><%= link_to "@#{post.author}", post.author_with_link %></span> <span class="original"><%= link_to "Original on Twitter", post.url %></span>
	            <span class="date"><%= l post.published_at, :format => :twitter %></span><br />
      	     <%= post.body_with_links.html_safe %>
						<% unless post.article_title.blank? %>
					    <div class="source"><%= post.article_title_and_journal %></div>
				    <% end %>
            </div>
      	  </td>
          <%= render :partial => 'posts/rating', :locals => { :post => post } %>
	      </tr>
		  <% end %>
		<% end %>
		<% unless params[:q] == "I'm feeling lucky" %>
	    <tr>
		    <td class="pagination" colspan="2">
				  <%= will_paginate @posts, :params => { :controller => :posts, :authenticity_token => nil } %>
			  </td>
			</tr>
		<% end %>
	</table>
<% else %>
  <h2>No tweets found</h2>
<% end %>