<td class="rating">
  <% unless post.ratings.empty? %>
	  <strong><%= pluralize(post.ratings.count, 'Classification') %></strong><br />
    <% if post.spam %>
      Spam
    <% else %>
      <%= (post.topic+ "<br/>").html_safe if post.topic %>
	    <%= post.rhetoric.html_safe %>
	    <%= post.is_author.html_safe if post.is_author %>
	    <%= post.method.html_safe if post.method %>
	    <%= post.data.html_safe if post.data %>
	    <%= post.conclusions.html_safe if post.conclusions %>
    <% end %>
  <% end %>
</td>