<div data-role="header" data-position="fixed">
	<% unless author_signed_in? %>
    <%= link_to 'Sign in', author_omniauth_authorize_path(:twitter), "data-role" => "button", "class" => "ui-btn-left", "data-icon" => "gear", "rel" => "external" %>
  <% else %>
    <%= link_to 'Sign out', destroy_author_session_path, "data-role" => "button", "class" => "ui-btn-left", "data-icon" => "gear", "rel" => "external" %>
  <% end %>
	<h1>Tweets</h1>
  <%= link_to 'Results', ratings_path, "data-role" => "button", "class" => "ui-btn-right", "data-icon" => "grid" %>
</div>

<div data-role="content">
	<% unless @posts.empty? %>
	  <ul data-role="listview" data-theme="c">
	    <% @posts.each do |post| %>
	      <% if author_signed_in? %>
		    <li><a href="<%= new_rating_url(:post_id => post) %>">
		      <%= image_tag "http://api.twitter.com/1/users/profile_image/#{post.author}" %>
	        <h3><%= "@#{post.author}" %></h3>
					<%= post.body.html_safe %>
	        </a>
	      </li>
	      <% else %>
				  <li class="signed_out"><%= image_tag "http://api.twitter.com/1/users/profile_image/#{post.author}" %>
          <h3><%= "@#{post.author}" %></h3>
				  <%= post.body.html_safe %>
				</li>
	      <% end %>
	    <% end %>
	  </ul>
	<% end %>
</div>