<div data-role="header">
	<h1>Tweets</h1>
</div>

<div data-role="content">
	<% unless @posts.empty? %>
	  <ul data-role="listview" data-theme="c">
	    <% @posts.each do |post| %>
		    <li><a href="<%= new_rating_url(:post_id => post) %>">
		      <%= image_tag "http://api.twitter.com/1/users/profile_image/#{post.author}" %>
	        <h3><%= "@#{post.author}" %></h3>
					<%= post.body.html_safe  %>
	        </a>
	      </li>
	    <% end %>
	  </ul>
	<% end %>
</div>

<%= render :partial => 'layouts/footer' %>