<p id="notice"><%= notice %></p>

<p>
  <b>Article:</b>
  <%= @post.article_id %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Original:</b>
  <%= @post.original_id %>
</p>

<p>
  <b>Comment type:</b>
  <%= @post.post_type %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Url:</b>
  <%= @post.url %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
