<%# Copyright (c) 2011 Martin Fenner
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
-%>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
      <%= "(#{Rails.env}) " unless Rails.env.production? %>
      <%= APP_CONFIG['application'] %>
    </title>
    <link rel="shortcut icon" href="/favicon.ico">
    <%= auto_discovery_link_tag(:rss, { :controller => "articles", :action => "index" }) %>
		<!--[if lt IE 9]>
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<%= stylesheet_link_tag :application %>
		<%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	</head>
  <body>
	  <div class="topbar">
		  <div class="topbar-inner">
				<div class="container">
				  <h3><a href="#"><%= APP_CONFIG['application'] %></a></h3>
				  <%= render_navigation %>
				  <% if ["articles", "authors", "groups", "journals"].include?(controller.controller_name) and ["index"].include?(controller.action_name) %>
			      <%= form_tag({:controller => controller.controller_name, :action => "index"}, :method => "get") do %>
			        <%= search_field_tag :q, params[:q], :placeholder => "Search" %>
			      <% end %>
			    <% end %>
					<ul class="nav secondary-nav">
	          <% if author_signed_in? %>
	            <li><%= link_to 'Your Card', author_path(current_author.username) %></li>
	   	        <li><%= link_to 'Sign out', destroy_author_session_path, :method => :delete %></li>
	          <% else %>
	            <li><%= link_to 'Sign in with Twitter', author_omniauth_authorize_path(:twitter) %></li>
	          <% end %>
	        </ul>		 
				</div>
			</div>
		</div>

		<div class="container">
		  <% [ :error, :notice, :warning, :message ].each do |name| %>
		    <% if flash[name] %>
		      <div class="flash">
		        <span class="flash"><%= flash[name] %></span>
	        <div>
			  <% end %>
		  <% end %>
		  <%= yield %>
			<footer>
	      an <%= link_to image_tag("altmetrics.png"), "http://www.altmetrics.org" %> project.
			</footer>
	  </div>
	</body>
</html>